apiVersion: apps/v1
kind: Deployment
metadata:
  name: realworld-backend
  labels:
    app: realworld-backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: realworld-backend
  template:
    metadata:
      labels:
        app: realworld-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          ports:
            - containerPort: {{ .Values.backend.port }}
          env:
            - name: DATABASE_URL
              value: "{{ .Values.backend.env.DATABASE_URL }}"
          lifecycle:
            postStart:
              exec:
                command:
                  - sh
                  - -c
                  - |
                    echo "⏳ Initialisation Prisma (db push)..."
                    npx prisma db push || echo "⚠️ Échec du db push"
